body {
    background-color: #F0F2F5;
}

#fb-image {
    height: 106px;
    margin: -28px;
}
#row1{
    box-sizing: border-box;
    margin-top: 204;
    margin-left: 65
}

#fb-text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-top: 20;
}
