body {
    background-color: #F0F2F5;
}

.main{
    box-sizing: border-box;
    margin-top: 204;
    margin-left: 142
}

.content h2{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-top: 20;
}

.content img {
    height: 106px;
    margin: -28px;
}
    