body {
    background-color: #F0F2F5;
}

#fb-image {
    height: 106px;
    margin: -28px;
}
#row1{
    box-sizing: border-box;
    margin-top: 204;
    margin-left: 65
}

#fb-text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-top: 20;
}

#row2 {
    padding-top: 92px;
    padding-left: 63px;
}

#row2-inside {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 40px;
    width: 396px;
    text-align: center;
}

#input-credentials1, #input-credentials2 {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
}

#login-btn {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}

#forget-btn {

}

#line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

#create-btn {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}